numpy
opencv-python
pillow
matplotlib
gradio
hydra-core
scipy
trimesh
pyrender
tqdm
chumpy
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@v0.6
huggingface_hub
pyyaml
decord
yacs
timm
python-dotenv
json-tricks
triton
# SAM 3D Body & MoGe Essentials
pytorch-lightning
roma
loguru
einops
scikit-image
pyrootutils
joblib
dill
pandas
seaborn
jsonlines
xtcocotools
optree
psutil
omegaconf
fvcore
iopath
ninja
gdown
git+https://github.com/EasternJournalist/pipeline.git@866f059d2a05cde05e4a52211ec5051fd5f276d6
