# Core
numpy
opencv-python
pillow
matplotlib
gradio
scipy
trimesh
pyrender
tqdm
# chumpy - Install separately BEFORE requirements.txt:
# pip install --no-build-isolation chumpy
# detectron2 - Install separately BEFORE requirements.txt:
# pip install --no-build-isolation 'git+https://github.com/facebookresearch/detectron2.git'
huggingface_hub<1.0
pyyaml
decord
yacs
timm
python-dotenv
json-tricks
triton

# SAM 3D Body & MoGe & SAM3
pytorch-lightning
roma
loguru
einops
scikit-image
pyrootutils
joblib
dill
pandas
seaborn
jsonlines
xtcocotools
optree
psutil
omegaconf
fvcore
iopath
ninja
gdown
ftfy
regex
pycocotools
numba
python-rapidjson
scikit-learn
torchmetrics
fairscale
submitit
zstandard
rich
hydra-core
webdataset
networkx==3.2.1
appdirs

# Custom Git dependencies
git+https://github.com/EasternJournalist/pipeline.git@866f059d2a05cde05e4a52211ec5051fd5f276d6
