numpy
opencv-python
pillow
matplotlib
gradio
hydra-core
scipy
trimesh
pyrender
tqdm
chumpy
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@v0.6
huggingface_hub
pyyaml
decord
yacs
timm
# utils3d (setup_colab.sh で個別にインストール)
# utils3d
scikit-image
einops
ninja
pyrootutils
omegaconf
fvcore
iopath
gdown
python-dotenv
json-tricks
